*
{
  
    background-color: #F1F1F0;
    font-family: 'Roboto Mono', monospace;

}

@media only screen and (max-width: 480px) 
{
    .flax-container
    {   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);



        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        background-color: #499F65;
        height: 70px;
        transition: 0.3s;
    }
    
    .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #9f494900;
        color: white;
        height: 100%;
        width: 100px;
        margin-left: 5%;
        transition: 0.3s;
    }

    .logo > h1  
    {
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        background-color: #499F65;

    }

    .menu
    {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #499F65;
        height: 500%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: 0.3s;
    }

   .menu >button
   {
        width: 130px;
        height: 50%;
        margin-left: 1%;
        margin-bottom: 35px;
        border-radius: 7px;
       
        
        border: solid rgba(5, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        color: white;

        font-size: 14px;
        transition: 0.3s;

      }



      .menu >button:hover{
        border: solid white;
        background-color: white;
        color: #499F65;
      }

}


@media only screen and (min-width: 481px ) 
{
    .flax-container
    {   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.47);



        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        background-color: #499F65;
        height: 70px;
        transition: 0.3s;
    }
    
    .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #9f494900;
        color: white;
        height: 100%;
        width: 100px;
        margin-left: 5%;
        transition: 0.3s;
    }

    .logo > h1  
    {
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        background-color: #499F65;

    }

    .menu
    {   
        display: flex;
        justify-content:center;
        align-items: center;
        background-color: #499F65;
        height: 100%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        transition: 0.3s;
    }

   .menu >button
   {
         white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 130px;
        height: 50%;
        margin-left: 1%;
        border-radius: 7px;
        
        border: solid rgba(5, 255, 255, 0);
        background-color: rgba(255, 255, 255, 0);
        color: white;

        font-size: 14px;
        transition: 0.3s;

      }
      .menu >button:hover{
        border: solid white;
        background-color: white;
        color: #499F65;
      }
     
}





@media only screen and (min-width: 769px ) 
{
    .flax-container
    {   border-radius: 7px;
        display: flex;
        background-color: white;
        height: 70px;
        transition: 0.2s;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);
        -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);
        -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.47);
    }
    
    .logo
    {
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgba(220, 20, 60, 0);
        color: #499F65;

        margin-left: 1%;
        width: 100px;
        transition: 0.2s;
    }
    .logo > h1  {  background-color: rgba(220, 20, 60, 0);}
    
    .menu
    {
        display: flex;
        align-items: center;
        
        margin-left: auto;
        margin-right: 5px;
        background-color: rgba(0, 0, 255, 0);
        transition: 0.2s;
    }

   .menu >button{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

        width: 135px;
        height: 50%;
        margin-left: 1%;
        border-radius: 7px;
        
        border: solid rgba(252, 252, 252, 0);
        background-color: rgba(255, 255, 255, 0);
        color: #499F65;
        font-size: 14px;
        transition: 0.2s;

      }
      .menu >button:hover{
        border: solid #499F65;
        background-color: #499F65;
        color: white;
      }
}

